html,
body{
   height: 100%;
}
body{
   line-height: 1.5;
   font-family: 'Poppins', sans-serif;
   position: relative;
   color: $darkGrey;
   &.lock{
      overflow: hidden;
   }
}

.container{
   max-width: 1190px;
   padding: 0 15px;
   margin: 0 auto;
}
.wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   overflow: hidden;
   // padding-top: rem(90);
}
@media (max-width: 767px) {
   .wrapper{
      padding-top: rem(50);
   }
}
.fullscreen{
   min-height: 100vh;
}