@use 'sass:math';

$maxwidthContainer: 1190;
$maxWidth: 1440;
@mixin adaptiveValue($property,$startSize,$minSize,$type){
   $addSize: $startSize - $minSize;
   @if $type==1{
      //Если меньше контейнера
      #{$property}:$startSize + px;
      @media (max-width: #{$maxwidthContainer + px}){
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxwidthContainer - 320}));
      }
   }
   @else if $type==2{
      //Если больше контейнера
      #{$property}:$startSize + px;
      @media (min-width: #{$maxwidthContainer + px}){
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
      }
   }
   @else{
      //Всегда
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
   }
}

@function prc($pxOne, $pxTwo){
   $result: math.div($pxOne, $pxTwo) * 100%;
   @return $result;
}
@function rem($px){
   $result: math.div($px,16) + rem;
   @return $result;
}
@function em($px,$px2){
   $result: math.div($px, $px2) + em;
   @return $result;
}
//=====================================================================
$grey: #645C55;
$black: #1B1A1A;
$darkGrey: #403E3B;