html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, button {
  text-decoration: none;
  outline: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  position: relative;
  color: #403E3B;
}
body.lock {
  overflow: hidden;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

@media (max-width: 767px) {
  .wrapper {
    padding-top: 3.125rem;
  }
}
.fullscreen {
  min-height: 100vh;
}

.header {
  z-index: 50;
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 11px 11px 25px rgba(9, 7, 37, 0.06);
          box-shadow: 11px 11px 25px rgba(9, 7, 37, 0.06);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.header__inner {
  height: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
}
@media (max-width: 1190px) {
  .header__logo {
    -ms-flex-preferred-size: calc(180px + 40 * ((100vw - 320px) / 870));
        flex-basis: calc(180px + 40 * ((100vw - 320px) / 870));
  }
}
.header__logo img {
  display: block;
  max-width: 100%;
}
.header__burger {
  display: none;
}
.header__list {
  max-width: 36.875rem;
}
.header__list li {
  display: inline-block;
}
.header__link {
  color: #1B1A1A;
  padding: 0.625em 0;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0.875rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1190px) {
  .header__link {
    padding-left: calc(0px + 20 * ((100vw - 320px) / 870));
  }
}
@media (max-width: 1190px) {
  .header__link {
    padding-right: calc(0px + 20 * ((100vw - 320px) / 870));
  }
}
.header__link:hover {
  background-color: #1B1A1A;
  color: #fff;
}

@media (max-width: 767px) {
  .header__inner {
    height: 3.125rem;
  }
  .header__inner::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .header__logo {
    z-index: 4;
  }

  .header__burger {
    z-index: 4;
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #1B1A1A;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    background-color: #1B1A1A;
    display: block;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #1B1A1A;
    padding-top: 3.125em;
    text-align: center;
    overflow: auto;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__menu.active {
    top: 0;
  }

  .header__list {
    max-width: 100%;
    z-index: 2;
  }
  .header__list li {
    display: block;
    color: #fff;
  }

  .header__link {
    color: #fff;
    width: 100%;
    display: block;
    font-size: 1.5rem;
    border-radius: 0;
    -webkit-tap-highlight-color: transparent;
  }
  .header__link:hover {
    background-color: #645C55;
  }
}
.home {
  overflow: auto;
}
.home__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECE7E4;
  height: 100%;
}
.home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 37.5rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 60px;
  margin-right: 60px;
}
@media (max-width: 1190px) {
  .home__body {
    padding-left: calc(15px + 45 * ((100vw - 320px) / 870));
  }
}
@media (max-width: 1190px) {
  .home__body {
    padding-right: calc(15px + 45 * ((100vw - 320px) / 870));
  }
}
@media (max-width: 1190px) {
  .home__body {
    margin-left: calc(0px + 60 * ((100vw - 320px) / 870));
  }
}
@media (max-width: 1190px) {
  .home__body {
    margin-right: calc(0px + 60 * ((100vw - 320px) / 870));
  }
}
.home__body-subtitle {
  color: #645C55;
  font-size: 14px;
  margin-bottom: 20px;
}
@media (max-width: 1190px) {
  .home__body-subtitle {
    font-size: calc(12px + 2 * ((100vw - 320px) / 870));
  }
}
@media (max-width: 1190px) {
  .home__body-subtitle {
    margin-bottom: calc(14px + 6 * ((100vw - 320px) / 870));
  }
}
.home__body-title {
  color: #1B1A1A;
  font-size: 64px;
  margin-bottom: 16px;
}
@media (max-width: 1190px) {
  .home__body-title {
    font-size: calc(42px + 22 * ((100vw - 320px) / 870));
  }
}
@media (max-width: 1190px) {
  .home__body-title {
    margin-bottom: calc(12px + 4 * ((100vw - 320px) / 870));
  }
}
.home__body-text {
  margin-bottom: 40px;
}
@media (max-width: 1190px) {
  .home__body-text {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 870));
  }
}
.home__body-link {
  color: #1B1A1A;
  letter-spacing: 0.4px;
}
.home .home__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.home .home__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media (max-width: 767px) {
  .home {
    overflow: auto;
  }

  .home__image {
    display: none;
  }

  .home__inner {
    height: 100%;
  }

  .home__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    height: 100%;
  }
}